* {
    font-family: Inter, sans-serif;
}

h1 {
    font-size: 56px;
    font-weight: 600;
    margin-top: 10rem;
    text-align: center;
}

p {
    font-size: 40px;
    margin-top: 1.5rem;
    text-align: center;
    padding-left: 9rem;
    padding-right: 9rem;

}

.learnMore {
    margin-left: 45%;
    margin-top: 2rem;
    background-color: #EBF2ED;
    color: rgb(7 41 16);
}

.learnMore:hover {
    background-color: #072910;
    color: white;

}